{{define "page"}}
<div class="py-12 flex justify-center">
  <div class="px-8 py-8 bg-white rounded shadow">
    <h1>Start sharing your photos today!</h1>
    <form action="/users" method="POST" class="register">
      {{csrfField}}
      <div>
        <label for="email">Email Address</label>
        <input name="email" id="email" type="email" placeholder="Email address" required autocomplete="email"
          value="{{.Email}}" {{if not .Email}}autofocus{{end}} />
      </div>
      <div>
        <label for="password">Password</label>
        <input name="password" id="password" type="password" placeholder="Password" required {{if
          .Email}}autofocus{{end}} />
      </div>
      <div class="py-4">
        <button class="w-full py-4 px-2 bg-indigo-600 hover:bg-indigo-700
        text-white rounded font-bold text-lg" type="submit">Register</button>
      </div>
      <div class="py-2 w-full flex justify-between">
        <p class="text-xs text-gray-500">
          Already have an account?
          <a href="/signin" class="underline">Sign in</a>
        </p>
        <p class="text-xs text-gray-500">
          <a href="/reset-pw" class="underline">Forgot your password?</a>
        </p>
      </div>
    </form>
  </div>
</div>
{{end}}